<template>
    <div class="order-details">
        <!--ToolBar-->
        <v-card
         color="grey lighten-4"
         flat
         height="65px"
         tile
        >
       <v-toolbar dense>
     <v-toolbar-title>Order Details</v-toolbar-title>
  </v-toolbar>
  </v-card>
<v-container>
    <!--Customer Name-->
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title>Customer Name: {{book.customerName}}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
     <!--Item Name-->
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title v-for="item of book.items" :key="item.id">Item Name: {{item.name}} - Rs {{item.price}}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <!--Total Price-->
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title>Total Price: {{book.totalAmount}}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
     <!--Address-->
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title>Address: {{book.address.streetAddress}}, {{book.address.city}}, {{book.address.state}} - {{book.address.pinCode}}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
</v-container>
    </div>
</template>
<script>
// Importing json data from order list 
import BookData from '../orderList.json';
export default {
    data() {
        return {
       BookData,
       allData: [], 
       book: {},
        }
    },
    mounted() {
        // assigning all the data coming from json file to all data array
        this.allData = this.BookData.BOOK_DATA;
        this.allData.forEach(ele => {
            if(ele.id == this.$route.params.id) {
                this.book = ele;
            }
        })
        
    },
}
</script>
<style lang="scss" scoped>

</style>