<template>
    <div class="order">
       <!--ToolBar-->
        <v-card
         color="grey lighten-4"
         flat
         height="65px"
         tile
        >
       <v-toolbar dense>
     <v-toolbar-title>Orders</v-toolbar-title>
  </v-toolbar>
  </v-card>
        <v-container>
    <v-data-table
    :headers="headers"
    :items="allData"
    class="elevation-1"
  >
    <template v-slot:item.status="{ item }">
     
      <v-btn text :color="getColor(item.status)" @click="getNextStatus(item.id)" >{{ item.status }}</v-btn>
    </template>
    <template v-slot:item.action="{ item }">
     <v-btn @click="goToDetails(item.id)">View</v-btn>
    </template>
  </v-data-table>
        </v-container>
    </div>
</template>
<script>
// Importing json data from order list 
import BookData from '../orderList.json';
export default {
    data() {
     return {
         // table header
       headers: [
          {
            text: 'Customer Name',
            align: 'start',
            sortable: false,
            value: 'customerName',
          },
          { text: 'No of Items', value: 'numberOfItems' },
           { text: 'Total Amount', value: 'totalAmount' },
          { text: 'Status', value: 'status' },
          { text: 'Action', value: 'action' },
         
        ],       
       BookData,
       allData: [], 
       status: "",
       
        }
    },
    mounted() {
        // assigning all the data coming from json file to all data array
        this.allData = this.BookData.BOOK_DATA;
        
    },
    methods: {
        // getting colors based on status
      getColor (status) {
        if (status == 'Order Received') return 'red'
        else if (status == 'Preparing') return 'orange'
        else if (status == 'Ready to serve') return 'green'
         else return 'grey'
      },
      // sending to details screen
      goToDetails(id) {
          this.$router.push(`/order-details/${id}`)
      },
      // changing status
      getNextStatus(id) {
         this.allData.forEach(ele => {
           if(ele.id == id) {
             if(ele.status == 'Order Received') {
               ele.status = 'Preparing';
             }
             else if(ele.status == 'Preparing') {
               ele.status = 'Ready to serve'
             }
             else if(ele.status == 'Ready to serve') {
               ele.status = 'Canceled'
              
             }
           }
         })
      }
    },
    
}
</script>
<style lang="scss" scoped>

</style>